{% extends "layout.html" %} {%block content%}
<h1>Hello world</h1>
<h1>{{ title }}</h1>

<ul>
	{% for todo in todos %}
	<li>
		{{ todo.todo }} / <span>Done: {{ todo.done }}</span>
	</li>
	<small>{{ todo.summery }}</small>
	<h1>{{ todo.get_absolute_url }}</h1>
	<br />
	<br />
	{% endfor %}
</ul>

<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores
	architecto distinctio labore impedit incidunt exercitationem repellendus,
	sapiente aut dignissimos facilis nisi est atque ipsa. Quis facilis quisquam
	reiciendis rerum quod nobis iste?
</p>
<P> {{ SECRET_KEY }} </P>

<form action="/todos/" method="post">
	{% csrf_token %} <label for="name">Your name: </label>
	<input id="name" type="text" name="your_name" value="{{ current_name }}" />
	<input type="submit" value="OK" />
</form>
{% endblock content %}
